@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Inter, sans-serif;
}

::selection{
background:#06b6d4;
color:white;
}

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#0f172a;
}

::-webkit-scrollbar-thumb{
background:#06b6d4;
border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
background:#0891b2;
}